.endpoints-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

.endpoint-container {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.endpoint-container p, .endpoint-container i{
    font-size: 10pt;
}
