.endpoints-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius: 1px;
}

.endpoint-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
}

.endpoint-container:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.endpoint-container p, .endpoint-container i{
    font-size: 10pt;
    margin: 0 10px 0 0;
    padding: 0;
    line-height: 1rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.endpoint-container i.fa-circle-notch {
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
